node_modules/
venv/
*.log
.DS_Store
dist/
*.Rhistory
*.RData

# Ignore the specific large files
DEMO/intermediate_results/preprocessed_data.csv
DEMO/Hospital_Inpatient_Discharges__SPARCS_De-Identified___2022_20241021.csv

# Ignore generated simulation outputs
SIMULATION/intermediate_results/